:root {
  --body-color: hsl(183, 100%, 15%);
  --strong-cyan: hsl(172, 67%, 45%);
  --body-color-light: hsl(184, 14%, 56%);
  --button-hover: #9fe8df;
  --input-bg: hsl(189, 41%, 97%);
}

body {
  background: hsl(185, 41%, 84%);
  font-size: 14px;
}

* {
  margin: 0;
  font-family: "Space Mono", monospace;
}
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
}

.splitter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
}

.splitter h1 {
  text-align: center;
  color: var(--body-color);
  font-size: 1.7rem;
  line-height: 1.5;
  letter-spacing: 10px;
}

.splitter__container {
  padding: 25px;
  background: #fff;
  border-radius: 25px 25px 0 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.splitter__inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.splitter__bill,
.splitter__number-of-people,
.splitter__tip-amount {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.splitter__tip-amount {
  gap: 13px;
}

.splitter__inputs input {
  border: none;
  background: var(--input-bg);
  padding: 6px 15px;
  text-align: right;
  font-size: 24px;
  color: var(--body-color);
  border-radius: 5px;
  display: block;
  min-width: -webkit-fill-available;
}

.splitter__bill input,
.splitter__number-of-people input {
  background-image: url(./images/icon-dollar.svg);
  background-position: left 15px center;
  background-size: 12px;
  background-repeat: no-repeat;
}

.splitter__number-of-people input {
  background-image: url(./images/icon-person.svg);
}

.splitter__inputs input:focus-visible,
.splitter__inputs input:focus-within,
.splitter__inputs input:focus {
  outline: 3px solid var(--strong-cyan);
  transition: none;
}

.splitter__inputs label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--body-color-light);
}

.splitter__inputs-invalid label::after {
  content: "Can't be zero";
  color: tomato;
}

.splitter__inputs-invalid input {
  outline: 3px solid tomato !important;
}

.splitter__inputs input::placeholder {
  color: var(--body-color-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.splitter__tip-amount-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px;
  position: relative;
}

.splitter__tip-amount-btns button,
.splitter__tip-amount-btns input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.35rem;
  background-color: var(--body-color);
  color: #fff;
  transition: 0.15s ease-in-out;
}

.splitter__tip-amount-btns input {
  text-align: center;
  background: hsl(189, 41%, 97%);
  color: var(--body-color);
  display: block;
  min-width: -webkit-fill-available;
  text-align: right;
}

.splitter__tip-amount-btns input + span {
  display: none;
  position: absolute;
  right: 0;
  bottom: -24px;
  color: tomato;
}

.splitter__tip-amount-btns.splitter__inputs-invalid input + span {
  display: block;
}

.splitter__tip-amount-btns input::placeholder {
  text-align: center;
}

.splitter__tip-amount-btns-active {
  background: var(--strong-cyan) !important;
}

input[type="number"].splitter__tip-amount-btns-active {
  background: var(--input-bg) !important;
  outline: 3px solid var(--strong-cyan);
}

button:hover {
  cursor: pointer;
  background: var(--button-hover) !important;
  color: var(--body-color) !important;
}

.splitter__result {
  padding: 30px;
  background: var(--body-color);
  border-radius: 15px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splitter__result > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.splitter__result p {
  color: #fff;
  font-size: 15px;
}

.splitter__result p span {
  color: var(--body-color-light);
  display: block;
  font-size: 12px;
}

.splitter__result-tip,
.splitter__result-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 2px dashed rgba(38, 192, 171, 0.3);
}

.splitter__result-tip {
}

.splitter__result h2 {
  color: var(--strong-cyan);
  font-size: 2.2rem;
  line-height: 1;
}

.splitter__result button {
  border: none;
  background: var(--strong-cyan);
  padding: 8px 0;
  border-radius: 5px;
  font-size: 1.15rem;
  color: var(--body-color);
  transition: 0.15s ease-in-out;
  height: 52px;
}

.splitter__result button:hover {
  background: var(--button-hover);
}

.splitter__result button:disabled {
  opacity: 0.25;
  cursor: default;
  pointer-events: none;
}

@media (min-width: 880px) {
  .splitter {
    gap: 50px;
    margin-top: -25px;
  }

  .splitter__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 35px;
    gap: 40px;
    border-radius: 25px;
  }

  .splitter h1 {
    font-size: 1.5rem;
  }

  .splitter__tip-amount-btns {
    grid-template-columns: repeat(3, 1fr);
  }

  .splitter__result h2 {
    font-size: 2.5rem;
  }

  .splitter__result {
    padding: 35px;
    gap: 30px;
  }

  .splitter__tip-amount-btns button,
  .splitter__tip-amount-btns input {
    padding: 6px;
  }

  .splitter__result button {
    height: 44px;
  }
}
